---
title: X-Pixel Group

labNameBig: X-Pixel Group
labNameSmall: CUHK, NTU, SIAT, SenseTime
labNameDescript: Our vision is to make the world look clearer
layout: default
---

<section>
    <!--Swiper-->
    <div class="swiper-container swiper-slider" data-autoplay="5000" data-slide-effect="fade" data-loop="false">
        <div class="jumbotron text-center">
            <h1>{{ page.labNameBig }}</h1>
            <hr>
            <h3>{{ page.labNameSmall }}</h3>
            <p class="big"><em>{{ page.labNameDescript }}</em> </p>
            <!--<div class='button-group-variant'> <a class='button button-default round-xl button-sm' href='https://www.templatemonster.com/website-templates/58434.html'>Buy Now</a> <a class='button button-default round-xl button-sm' href='#'>View Features</a></div>-->
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-slide-bg="images/header-1.jpg">
                <div class="swiper-slide-caption"></div>
            </div>
            <div class="swiper-slide" data-slide-bg="images/header-3.jpg">
                <div class="swiper-slide-caption"></div>
            </div>
            <div class="swiper-slide" data-slide-bg="images/header-4.jpg">
                <div class="swiper-slide-caption"></div>
            </div>
        </div>
    </div>
</section>

<main class="page-content">
    <!--Start section-->
    <section class="well well-inset-2">
        <div class="container">
            <h1 class="text-center font-weight-bold">Recent News</h1>
            <div class="row justify-content-center">
                <div class="col-10">
                    <!-- Bootstrap collapse-->
                    <!-- <div class="card-group-custom card-group-corporate" id="accordion1" role="tablist"
                        aria-multiselectable="false"> -->
                    <!-- Bootstrap card-->
                    <article class="card card-custom card-corporate">
                        <div class="card-header" role="tab">
                            <div class="card-title">

                                {% for post in site.posts %}
                                {% if post.title == 'Our Xpixel team won the champions in Video Temporal Super Resolution track in the AIM2020' %}
                                <a role="button" d class="collapsed"
                                   aria-controls="accordion1Collapse1" aria-expanded="false" href="{{ post.url }}">
                                    [September 2020] Our Xpixel team won a champions and a forth place in ECCV Workshop AIM2020! Check out our news for <font class="text-primary">more details</font>.
                                    <div class="card-arrow"></div>
                                </a>
                                {% endif %}
                                {% endfor %}

                                {% for post in site.posts %}
                                {% if post.title == 'Three papers from our team were accepted in ECCV 2020' %}
                                <a role="button" d class="collapsed"
                                   aria-controls="accordion1Collapse1" aria-expanded="false" href="{{ post.url }}">
                                    [August 2020] Three papers from our team were accepted in ECCV 2020! Check out our news for <font class="text-primary">more details</font>.
                                    <div class="card-arrow"></div>
                                </a>
                                {% endif %}
                                {% endfor %}


                                {% for post in site.posts %}
                                {% if post.title == 'Our team attended ICCV 2019 in Seoul, Korea' %}
                                <a role="button"  class="collapsed"
                                   aria-controls="accordion1Collapse1" aria-expanded="false" href="{{ post.url }}">
                                    [November 2019] Our team attended ICCV 2019! Check out here for <font class="text-primary">more details</font>.
                                    <div class="card-arrow"></div>
                                </a>
                                {% endif %}
                                {% endfor %}


                                {% for post in site.posts %}
                                {% if post.title == 'RankSRGAN: Generative Adversarial Networks with Ranker for Image Super-Resolution' %}
                                <a role="button"  class="collapsed"
                                   aria-controls="accordion1Collapse1" aria-expanded="false" href="{{ post.url }}">
                                    [July 2019] Our paper is selected for oral presentation in ICCV 2019! Check out our paper for <font class="text-primary">more details</font>.
                                    <div class="card-arrow"></div>
                                </a>
                                {% endif %}
                                {% endfor %}


                                {% for post in site.posts %}
                                {% if post.title == 'Formal establishment of the X-Pixel Group' %}
                                <a role="button"  class="collapsed"
                                    aria-controls="accordion1Collapse1" aria-expanded="false" href="{{ post.url }}">
                                    [July 2019] Announcing the formal establishment of the X-Pixel group! <font class="text-primary">Check us out</font>!
                                    <div class="card-arrow"></div>
                                </a>
                                {% endif %}
                                {% endfor %}

                                {% for post in site.posts %}
                                {% if post.title == 'Our HelloSR team emerges as champions in all four tracks in the NTIRE19' %}
                                <a role="button"  class="collapsed"
                                   aria-controls="accordion1Collapse1" aria-expanded="false" href="{{ post.url }}">
                                    [April 2019] Our HelloSR team emerges as champions in all four tracks in the NTIRE19 video restoration and enhancement challenges! Congrats to Xintao Wang and the team! Check our news for <font class="text-primary">more details</font>.
                                    <div class="card-arrow"></div>
                                </a>
                                {% endif %}
                                {% endfor %}

                                {% for post in site.posts %}
                                {% if post.title == 'Our paper is selected for oral presentation in CVPR 2019' %}
                                <a role="button"  class="collapsed"
                                   aria-controls="accordion1Collapse1" aria-expanded="false" href="{{ post.url }}">
                                    [March 2019] Our paper is selected for oral presentation in CVPR 2019! Check out our news for <font class="text-primary">more details</font>.
                                    <div class="card-arrow"></div>
                                </a>
                                {% endif %}
                                {% endfor %}


                                {% for post in site.posts %}
                                {% if post.title == 'Five papers from our team were accepted in CVPR 2019' %}
                                <a role="button" d class="collapsed"
                                    aria-controls="accordion1Collapse1" aria-expanded="false" href="{{ post.url }}">
                                    [March 2019] Five papers from our team were accepted in CVPR 2019! Check out our news for <font class="text-primary">more details</font>.
                                    <div class="card-arrow"></div>
                                </a>

                                {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </article>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </section>
    <!--End section-->

    <!--Start section-->
    <section class="well well-sm well-inset-2 text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12">
                    <h1 class="font-weight-bold text-center">About Us</h1>
                    <p class="lead big">
                        X-Pixel (/eks-ˈpɪksəl/) group is established with a primary focus on tackling low-level vision problems, including but not limited to image/video super-resolution, denoising, deblurring etc. We strive to examine images and video footages <b>across all pixels</b>. Our members comprises researchers, students and academics, coming from The <a class="text-primary" href="http://mmlab.ie.cuhk.edu.hk/">CUHK (Hong Kong)</a>, <a class="text-primary" href="http://scse.ntu.edu.sg/Pages/Home.aspx">NTU (Singapore)</a>, <a class="text-primary" href="http://english.siat.cas.cn/">SIAT (Shenzhen)</a> and <a class="text-primary" href="https://www.sensetime.com/">SenseTime</a>. We devote ourselves to research and develop on low-level vision problems, aiming to translate the outcome of our work into solving real-world obstacles.
                    </p>
                </div>
            </div>

    <!--Start section-->
    <section class="well well-sm well-inset-2 text-center text-lg-left">
        <div class="container">
            <h1 class="font-weight-bold text-center">Latest Publications</h1>
            <div class="row row-30">
                {% assign count=0%}
                {% for post in site.posts %}
                {% if post.type == 'paper' and count<3%}
                {% assign count = count | plus:1 %}
                <div class="col-lg-4">
                    <article class="thumbnail thumbnail-4"><img src="{{ BASE_PATH }}/images/paper_teser/{{ post.teser }}" width=400px height=200px  alt="">
                        <div class="caption">
                            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                            <p class="text-dark-variant-2">{{ post.author }}</p>
                            <div class="blog-info">
                                <div class="pull-md-left">
                                    <time class="meta fa-calendar" datetime="2019">{{ post.year }}
                                        {{ post.month }}</time>
                                </div><a class="button-link" href="{{ post.url }}">Read More</a>
                            </div>
                        </div>
                    </article>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!--End section-->

    <!--Start section-->
    <section class="well well-sm well-inset-2 text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <h1 class="font-weight-bold text-center">Collaboration</h1>
                </div>
            </div>
            <div class="row margin-1">
                <!--Owl Carousel-->
                <div class="owl-carousel" data-autoplay="true" data-items="1" data-md-items="2" data-sm-items="1"
                    data-lg-items="3" data-nav="true" data-margin="30" data-loop="true">
                    <blockquote class="quote-2"><img class="img-rounded" href="http://english.siat.cas.cn/" src="images/SIATlogo.png" alt="">
                        <h6>
                            <cite>SIAT</cite>
                        </h6>
                        <p class="heading-6 font-italic font-base text-base">
                            <q>SIAT aims to enhance the innovative capacity of the equipment manufacturing and service industries in the Guangdong-Hong Kong region, promote the development of emerging industries possessing their own proprietary intellectual property, and become a world-class industrial research institute.</q>
                        </p>
                    </blockquote>
                    <blockquote class="quote-2"><img class="img-rounded"  src="images/CUHKlogo.png" alt="" href="http://mmlab.ie.cuhk.edu.hk/">
                        <h6>
                            <cite>CUHK</cite>
                        </h6>
                        <p class="heading-6 font-italic font-base text-base">
                            <q>The CUHK Multimedia Lab (MMLab) is one of the pioneering institutes on deep learning. In GPU Technology Conference (GTC) 2016, a world-wide technology summit, MMlab is recognized as one of the top ten AI pioneers, and listed together with top research groups in the world (e.g. MIT, Stanford, Berkeley, and Univ. of Toronto). Today, it remains one of the most active research labs in computer vision and deep learning, publishing over 40 papers on top conferences (CVPR/ICCV/ECCV/NIPS) every year.</q>
                        </p>
                    </blockquote>
                    <blockquote class="quote-2" ><img class="img-rounded" href="https://www.sensetime.com/" src="images/Sensetimelogo.png" alt="">
                        <h6>
                            <cite href="https://www.sensetime.com/">SenseTime Inc.</cite>
                        </h6>
                        <p class="heading-6 font-italic font-base text-base">
                            <q>SenseTime is a global company focused on developing innovative AI technologies that positively contribute to economies, society and humanity. With roots in the academic world, SenseTime invest in fundamental research to further understanding and advance the state of art in AI technology. SenseTime is a global team of talented individuals with over half dedicated to research and development activities. This has made it a leading global AI algorithm provider and one of the most prolific contributors of related papers in the research community.</q>
                        </p>
                    </blockquote>
                    <blockquote class="quote-2"><img class="img-rounded" src="images/NTUlogo.png" href="http://scse.ntu.edu.sg/Pages/Home.aspx" alt="">
                        <h6>
                            <cite>NTU</cite>
                        </h6>
                        <p class="heading-6 font-italic font-base text-base">
                            <q>The Nanyang Technological University is the second oldest public autonomous research university in Singapore. With a population of 33,500 students and 10,000 faculty and staff, NTU is the second largest university in Singapore.  </q>
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
    <!--End section-->
</main>



