<footer class="page-footer footer-centered text-center">
    <section class="footer-content">
        <div class="container">
            <div class="navbar-brand"><a href="{{ BASE_PATH }}/index.html">X-Pixel Group</a></div>
            <br>
            <p class="big"></p>
            <p class="big">Our vision is to make the world look clearer</p>
            <!-- <ul class="list-inline">
                <li class="list-inline-item"><a class="fa-facebook" href="#"></a></li>
                <li class="list-inline-item"><a class="fa-pinterest-p" href="#"></a></li>
                <li class="list-inline-item"><a class="fa-twitter" href="#"></a></li>
                <li class="list-inline-item"><a class="fa-google-plus" href="#"></a></li>
                <li class="list-inline-item"><a class="fa-instagram" href="#"></a></li>
            </ul> -->
        </div>
    </section>
    <section class="copyright">
        <div class="container">
            <p>&#169; <span class="copyright-year"></span> All Rights Reserved.</p>
        </div>
    </section>
</footer>