<header class="{% if layout == home %} page-header {% else %} page-header subpage-header {% endif %}">

    <!--RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar top-panel-none-items" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
            data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed"
            data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static"
            data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px"
            data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-top-panel">
                <!-- <div class="rd-navbar-inner">
                    <button class="rd-navbar-collapse-toggle"
                        data-rd-navbar-toggle=".list-inline, .fa-envelope, .fa-phone, .fa-shopping-cart"><span></span></button><a
                        class="fa-envelope" href="mailto:#">allen092911@gmail.com</a><a class="fa-phone"
                        href="tel:#">+86 15029679576</a>
                    <ul class="list-inline pull-right">
                        <li><a class="fa-facebook" href="#"></a></li>
                        <li><a class="fa-pinterest-p" href="#"></a></li>
                        <li><a class="fa-twitter" href="#"></a></li>
                        <li><a class="fa-google-plus" href="#"></a></li>
                        <li><a class="fa-instagram" href="#"></a></li>
                    </ul>
                </div> -->
            </div>
            <div class="rd-navbar-inner">

                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">

                    <!--RD Navbar Toggle-->
                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span></button>
                    <!--END RD Navbar Toggle-->

                    <!--RD Navbar Brand-->
                    <div class="rd-navbar-brand"><img style="position:absolute; top:-7px; left: 40px" height=50 src="images/x-pixel-logo.png" alt="" href="{{ site.url }}/index.html"><a class="brand-name" href="{{ site.url }}/index.html">{{ site.labname }}</a></div>
                    <!--<div class="rd-navbar-brand"><img class="brand-name"><img height=50 src="images/x-pixel-logo.png" alt="" href="{{ site.url }}/index.html"></a></div>-->
                    <!--<div class="rd-navbar-brand"><img height=50 src="images/x-pixel-logo.png" alt="" href="{{ site.url }}/index.html"></div>-->
                    <!--END RD Navbar Brand-->
                </div>
                <!--END RD Navbar Panel-->

                <div class="rd-navbar-nav-wrap" style=" padding-right: 50px">
                    <!--<a class="fa-shopping-cart" href="shop-cart.html"></a>short icon could be in there-->
                    <!--RD Navbar Search-->
                    <!--END RD Navbar Search-->

                    <!--RD Navbar Nav-->
                    <ul class="rd-navbar-nav" >

                        <li><a href="/index.html">Home</a></li>
                        <li><a href="/people.html">People</a></li>
                        <li><a href="/publication.html">Publications</a>
                            <ul class="rd-navbar-dropdown">
                                <li><a href="/publication_lab.html">In Lab</a></li>
                                <li><a href="/publication_sensetime.html">In SenseTime</a></li>
                            </ul>
                        </li>
                        <li><a href="/projects.html">Projects</a></li>
                        <li><a href="/products.html">Products</a></li>
                        <li><a href="/activities.html">Activities</a></li>
                        <li><a href="https://github.com/XPixel-Group/Super-Resolution-Collections">Open Source</a>
                            <ul class="rd-navbar-dropdown">
                                <li><a href="https://github.com/XPixel-Group/Super-Resolution-Collections">X-Pixel</a></li>
                                <li><a href="https://github.com/xinntao/BasicSR">BasicSR</a></li>
                                <li><a href="https://github.com/open-mmlab/mmediting">MMediting</a></li>
                            </ul>
                        </li>
                        <li><a href="/contact_us.html">Contact Us</a></li>


                        <!-- class="active" -->
                        <!-- <li><a href="#">Blog</a></li> -->
                        <!-- <li><a href="#">Contact us</a></li> -->
                    </ul>
                    <!--END RD Navbar Nav-->
                </div>
            </div>
        </nav>
    </div>
    <!--END RD Navbar-->
</header>