                    <blockquote class="quote-2 xp-collab-slide"><a class="xp-collab-logo-link" href="https://www.shlab.org.cn/" rel="noopener" target="_blank"><img class="img-rounded" src="{{ BASE_PATH }}/images/shagnhai_ailab.png" alt="Shanghai AI Lab"></a>
                        <h6>
                            <cite>Shanghai AI Lab</cite>
                        </h6>
                        <p class="xp-collab-desc">
                            <q>Shanghai Artificial Intelligence Laboratory conducts advanced research on the core theories of artificial intelligence, such as machine learning, reinforcement learning, deep learning, knowledge computation, causal inference, and information security. The laboratory has a strong focus on interdisciplinary research in artificial intelligence and is dedicated to exploring innovative paradigms for data-driven scientific inquiry.</q>
                        </p>
                    </blockquote>
                    <blockquote class="quote-2 xp-collab-slide"><a class="xp-collab-logo-link" href="http://english.siat.cas.cn/" rel="noopener" target="_blank"><img class="img-rounded" src="{{ BASE_PATH }}/images/SIATlogo.png" alt="SIAT"></a>
                        <h6>
                            <cite>SIAT</cite>
                        </h6>
                        <p class="xp-collab-desc">
                            <q>SIAT aims to enhance the innovative capacity of the equipment manufacturing and service industries in the Guangdong-Hong Kong region, promote the development of emerging industries possessing their own proprietary intellectual property, and become a world-class industrial research institute.</q>
                        </p>
                    </blockquote>
                    <blockquote class="quote-2 xp-collab-slide"><a class="xp-collab-logo-link" href="http://mmlab.ie.cuhk.edu.hk/" rel="noopener" target="_blank"><img class="img-rounded" src="{{ BASE_PATH }}/images/CUHKlogo.png" alt="CUHK"></a>
                        <h6>
                            <cite>CUHK</cite>
                        </h6>
                        <p class="xp-collab-desc">
                            <q>The CUHK Multimedia Lab (MMLab) is one of the pioneering institutes on deep learning. In GPU Technology Conference (GTC) 2016, a world-wide technology summit, MMlab is recognized as one of the top ten AI pioneers, and listed together with top research groups in the world (e.g. MIT, Stanford, Berkeley, and Univ. of Toronto). Today, it remains one of the most active research labs in computer vision and deep learning, publishing over 40 papers on top conferences (CVPR/ICCV/ECCV/NIPS) every year.</q>
                        </p>
                    </blockquote>
                    <blockquote class="quote-2 xp-collab-slide"><a class="xp-collab-logo-link" href="http://scse.ntu.edu.sg/Pages/Home.aspx" rel="noopener" target="_blank"><img class="img-rounded" src="{{ BASE_PATH }}/images/NTUlogo.png" alt="NTU"></a>
                        <h6>
                            <cite>NTU</cite>
                        </h6>
                        <p class="xp-collab-desc">
                            <q>The Nanyang Technological University is the second oldest public autonomous research university in Singapore. With a population of 33,500 students and 10,000 faculty and staff, NTU is the second largest university in Singapore.</q>
                        </p>
                    </blockquote>
                    <blockquote class="quote-2 xp-collab-slide"><a class="xp-collab-logo-link" href="https://www.um.edu.mo/zh-hant/" rel="noopener" target="_blank"><img class="img-rounded" src="{{ BASE_PATH }}/images/UM_logo.png" alt="UM"></a>
                        <h6>
                            <cite>UM</cite>
                        </h6>
                        <p class="xp-collab-desc">
                            <q>The University of Macau (UM) is a leading public research university located in Macau, China. It offers a wide range of undergraduate and postgraduate programs in various fields including computer science, engineering, business. Its research achievements have gained international recognition, positioning UM as a major player in the field of higher education and research in Asia.</q>
                        </p>
                    </blockquote>
                    <blockquote class="quote-2 xp-collab-slide"><a class="xp-collab-logo-link" href="https://arc.tencent.com/en/index" rel="noopener" target="_blank"><img class="img-rounded" src="{{ BASE_PATH }}/images/ARC_Lab.png" alt="ARC Lab, Tencent PCG"></a>
                        <h6>
                            <cite>ARC Lab, Tencent PCG</cite>
                        </h6>
                        <p class="xp-collab-desc">
                            <q>Applied Research Center (ARC) develops the cutting-edge technology of intelligent media, and aims to be a world-class research center. ARC empowers Tencent PCG, a large business group running Tencent social media, information feed, search, and content platforms, which require almost all the technics regarding artificial intelligence and big data. Benefited from these demands, ARC advantages in research breadth, depth, and industry integration.</q>
                        </p>
                    </blockquote>
                    <blockquote class="quote-2 xp-collab-slide"><a class="xp-collab-logo-link" href="https://www.sensetime.com/" rel="noopener" target="_blank"><img class="img-rounded" src="{{ BASE_PATH }}/images/Sensetimelogo.png" alt="SenseTime"></a>
                        <h6>
                            <cite>SenseTime Inc.</cite>
                        </h6>
                        <p class="xp-collab-desc">
                            <q>SenseTime is a global company focused on developing innovative AI technologies that positively contribute to economies, society and humanity. With roots in the academic world, SenseTime invest in fundamental research to further understanding and advance the state of art in AI technology. SenseTime is a global team of talented individuals with over half dedicated to research and development activities. This has made it a leading global AI algorithm provider and one of the most prolific contributors of related papers in the research community.</q>
                        </p>
                    </blockquote>
