---
layout: default
---
<section>
    <!--Swiper-->
    <div class="swiper-container swiper-slider" data-autoplay="5000" data-slide-effect="fade" data-loop="false"
         style="height: 400px;">
        <div class="jumbotron text-center">
            <h1 style="margin-top: 70px">Research
            </h1>
            <p class="big"></p>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-slide-bg="images/header-1.jpg">
                <div class="swiper-slide-caption"></div>
            </div>
            <div class="swiper-slide" data-slide-bg="images/header-3.jpg">
                <div class="swiper-slide-caption"></div>
            </div>
            <div class="swiper-slide" data-slide-bg="images/header-4.jpg">
                <div class="swiper-slide-caption"></div>
            </div>
        </div>
    </div>
</section>
