---
layout: default
---

<section>
    <!--Swiper-->
    <div class="swiper-container swiper-slider" data-autoplay="5000" data-slide-effect="fade" data-loop="false"
         style="height: 250px;">
        <div class="jumbotron text-center">
            <!-- <h1>Activities</h1> -->
            <!-- <p class="big"></p> -->
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-slide-bg="{{ BASE_PATH }}/images/header-1.jpg">
                <div class="swiper-slide-caption"></div>
            </div>
            <div class="swiper-slide" data-slide-bg="{{ BASE_PATH }}/images/header-3.jpg">
                <div class="swiper-slide-caption"></div>
            </div>
            <div class="swiper-slide" data-slide-bg="{{ BASE_PATH }}/images/header-4.jpg">
                <div class="swiper-slide-caption"></div>
            </div>
        </div>
    </div>
</section>

<main class="page-content">
    <section class="section-border text-center text-lg-left">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ BASE_PATH }}/index.html">Home</a></li>
                <li><a href="{{ BASE_PATH }}/activities.html">Activities</a></li>
            </ol>
        </div>
    </section>
    <section class="text-center text-lg-left margin-1">
        <div class="container">
            <div class="row">
                <div class="col-12 section-border">
                    <article class="well" style="padding-top: 10px">
                        <h1>{{ page.title }}</h1>
                        <div class="blog-info">
                            <div class="pull-md-left">
                                <time class="meta fa-calendar" datetime="2019">{{ page.year }} {{ page.month }}</time>
                                    {% if page.ppt %}
                                    <div><a class="ppt-button" href="{{ page.ppt }}">PowerPoint</a></div>
                                    {% endif %}

                            </div>
                        </div>
                        <!-- <img class="margin-5" src="images/blog-19.jpg" alt=""> -->
                            {{ content }}
                        </p>
                    </article>
                </div>
                <div class="col-12 text-center text-lg-left post-links margin-5" style="margin-bottom: 55px">
                    <div
                            class="d-flex align-items-center justify-content-center justify-content-md-between flex-wrap group">
                        {% if page.previous and page.previous.type=='activities'%}
                        <a class="button-link pull-md-left fa-angle-left" href="{{ page.previous.url }}">{{ page.previous.title }}</a>
                        {% endif %}
                        {% if page.next and page.next.type=='activities' %}
                        <a class="button-link pull-md-right fa-angle-right" href="{{ page.next.url }}">{{ page.next.title }}</a>
                        {% endif %}
                        {% if page.details %}
                        <div><a class="small-ppt-button" href="{{ page.details }}">XPixel微信公众号见内容详情</a></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
