---
layout: default
---
<section>
  <!--Swiper-->
  <div class="swiper-container swiper-slider" data-autoplay="5000" data-slide-effect="fade" data-loop="false"
    style="height: 400px;">
    <div class="jumbotron text-center">
      <h1>Meet Our Team
      </h1>
      <p class="big"></p>
    </div>
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-slide-bg="images/header-1.jpg">
        <div class="swiper-slide-caption"></div>
      </div>
      <div class="swiper-slide" data-slide-bg="images/header-3.jpg">
        <div class="swiper-slide-caption"></div>
      </div>
      <div class="swiper-slide" data-slide-bg="images/header-4.jpg">
        <div class="swiper-slide-caption"></div>
      </div>
    </div>
  </div>
</section>
<!--
    ========================================================
                                                    CONTENT
    ========================================================
    -->
<main class="page-content">
  <ol class="breadcrumb section-border">
    <li><a href="index.html">Home</a></li>
    <li class="active">Our Team</li>
  </ol>

  {% assign cooperation = false %}
  {% assign student = false %}
  {% assign alumni = false %}

  {% for post in site.posts %}
  {% if post.type == 'people' %}


  {% endif %}
  {% endfor %}


  <!--Start section 4 Columns with text-->
  <section class="text-center well well-sm">
    <div class="container">
      <h5 class="font-weight-bold text-lg-left">Faculty</h5>
      <hr>
      <div class="row row-50">
        {% for post in site.posts %}
        {% if post.type == 'people' %}
        {% if post.title == 'Professor' %}
        <div class="col-sm-6 col-lg-3">
          <div class="thumbnail thumbnail-3"><img class="rounded-circle" src="{{ "images/people/" | append: post.profileName }}" alt="">
            <div class="caption margin-1">
              <h6><a href="{{ post.url }}">{{ post.name }}</a></h6>
              <p class="small text-light-clr text-uppercase">{{ post.showtitle }}</p>
            </div>
          </div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% for post in site.posts %}
        {% if post.type == 'people' %}
        {% if post.title == 'Associate professor' %}
        <div class="col-sm-6 col-lg-3">
          <div class="thumbnail thumbnail-3"><img class="rounded-circle" src="{{ "images/people/" | append: post.profileName }}" alt="">
            <div class="caption margin-1">
              <h6><a href="{{ post.url }}">{{ post.name }}</a></h6>
              <p class="small text-light-clr text-uppercase">{{ post.showtitle }}</p>
            </div>
          </div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% for post in site.posts %}
        {% if post.type == 'people' %}
        {% if post.title == 'Assistant Professor' %}
        <div class="col-sm-6 col-lg-3">
          <div class="thumbnail thumbnail-3"><img class="rounded-circle" src="{{ "images/people/" | append: post.profileName }}" alt="">
            <div class="caption margin-1">
              <h6><a href="{{ post.url }}">{{ post.name }}</a></h6>
              <p class="small text-light-clr text-uppercase">{{ post.showtitle }}</p>
            </div>
          </div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
  <!--End section-->

  <!--Start section 4 Columns with text-->
  <section class="text-center well well-sm">
    <div class="container">
      <h5 class="font-weight-bold text-lg-left">Student</h5>
      <hr>
      <div class="row row-50">
          {% for post in site.posts %}
          {% if post.type == 'people' %}
          {% if post.title == 'PhD Student' %}
          <div class="col-sm-6 col-lg-3">
            <div class="thumbnail thumbnail-3"><img class="rounded-circle" src="{{ "images/people/" | append: post.profileName }}" alt="">
              <div class="caption margin-1">
                <h6><a href="{{ post.url }}">{{ post.name }}</a></h6>
                <p class="small text-light-clr text-uppercase">{{ post.showtitle }}</p>
              </div>
            </div>
          </div>
          {% endif %}
          {% endif %}
          {% endfor %}
          {% for post in site.posts %}
          {% if post.type == 'people' %}
          {% if post.title == 'Master Student' %}
          <div class="col-sm-6 col-lg-3">
            <div class="thumbnail thumbnail-3"><img class="rounded-circle" src="{{ "images/people/" | append: post.profileName }}" alt="">
              <div class="caption margin-1">
                <h6><a href="{{ post.url }}">{{ post.name }}</a></h6>
                <p class="small text-light-clr text-uppercase">{{ post.showtitle }}</p>
              </div>
            </div>
          </div>
          {% endif %}
          {% endif %}
          {% endfor %}
          {% for post in site.posts %}
          {% if post.type == 'people' %}
          {% if post.title == 'Visiting Student' %}
          <div class="col-sm-6 col-lg-3">
            <div class="thumbnail thumbnail-3"><img class="rounded-circle" src="{{ "images/people/" | append: post.profileName }}" alt="">
              <div class="caption margin-1">
                <h6><a href="{{ post.url }}">{{ post.name }}</a></h6>
                <p class="small text-light-clr text-uppercase">{{ post.showtitle }}<br>{{ post.institutionShort }}</p>

              </div>
            </div>
          </div>
          {% endif %}
          {% endif %}
          {% endfor %}
      </div>
    </div>
  </section>
  <!--End section-->

  <!--Start section 4 Columns with text-->
  <section class="text-center well well-sm">
    <div class="container">
      <h5 class="font-weight-bold text-lg-left">Alumni</h5>
      <hr>
      <div class="row row-50">
          {% for post in site.posts %}
          {% if post.type == 'people' %}
          {% if post.title == 'Alumni' %}
          <div class="col-sm-6 col-lg-3">
            <div class="thumbnail thumbnail-3"><img class="rounded-circle" src="{{ "images/people/" | append: post.profileName }}" alt="">
              <div class="caption margin-1">
                <h6><a href="{{ post.url }}">{{ post.name }}</a></h6>
                <p class="small text-light-clr">Now at {{ post.institutionShort }}</p>
              </div>
            </div>
          </div>
          {% endif %}
          {% endif %}
          {% endfor %}
      </div>
    </div>
  </section>
  <!--End section-->


</main>