---
layout: default
---

<section>
  <!--Swiper-->
  <div class="swiper-container swiper-slider" data-autoplay="5000" data-slide-effect="fade" data-loop="false"
    style="height: 400px;">
    <div class="jumbotron text-center">
      <h1 style="margin-top: 70px">Meet Our Team
      </h1>
      <p class="big"></p>
    </div>
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-slide-bg="images/header-1.jpg">
        <div class="swiper-slide-caption"></div>
      </div>
      <div class="swiper-slide" data-slide-bg="images/header-3.jpg">
        <div class="swiper-slide-caption"></div>
      </div>
      <div class="swiper-slide" data-slide-bg="images/header-4.jpg">
        <div class="swiper-slide-caption"></div>
      </div>
    </div>
  </div>
</section>
<!--
    ========================================================
                                                    CONTENT
    ========================================================
    -->
<main class="page-content">
  <ol class="breadcrumb section-border">
    <li><a href="index.html">Home</a></li>
    <li class="active">Our Team</li>
  </ol>

  {% assign cooperation = false %}
  {% assign student = false %}
  {% assign alumni = false %}

  {% for post in site.posts %}
  {% if post.type == 'people' %}


  {% endif %}
  {% endfor %}


  <!--Start section 4 Columns with text-->
  <section class="text-center well well-sm">
    <div class="container">
      <h5 class="font-weight-bold text-lg-left">Organizer</h5>
      <hr>
      <div class="row row-50">
        {% for post in site.posts %}
        {% if post.people_type == 'Organizer' %}
        <div class="col-sm-6 col-lg-4">
            <div class="thumbnail thumbnail-3"><img class="rounded-circle" style="width: 70%" src="{{ "images/people/" | append: post.profileName }}" alt="">
              <div class="caption margin-1">
                <h6><a href="{{ post.url }}">{{ post.name }}</a></h6>
                <!-- <p class="small text-light-clr">Now at {{ post.institutionShort }}</p> -->
                <p><b>{{ post.showtitle }}</b><br>{{ post.institutionShort }}</p>
                <p class="text-light-clr" style="margin-top: 0px">
                  {{ post.direction }}
                  <br>
                  Email: {{ post.email }}
                </p>
                <ul class="list-inline list-inline-3" style="margin-top: 10px">
                  {% if post.homepage != 'None' %}
                    <li><a class="fa-home" href="{{ post.homepage }}"></a></li>
                  {% endif %}
                  {% if post.github != 'None' %}
                    <li><a class="fa-github" href="{{ post.github }}"></a></li>
                  {% endif %}
                  {% if post.linkedin != 'None' %}
                    <li><a class="fa-linkedin" href="{{ post.linkedin }}"></a></li>
                  {% endif %}
                  {% if post.google != 'None' %}
                    <li><a class="fa-graduation-cap" href="{{ post.google }}"></a></li>
                  {% endif %}
                  </ul>
              </div>
            </div>
          </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
  <!--End section-->

  <!--Start section 4 Columns with text-->
  <section class="text-center well well-sm">
    <div class="container">
      <h5 class="font-weight-bold text-lg-left">X-Pixel at SIAT</h5>
      <hr>
      <div class="row row-50">
          {% for post in site.posts %}
          {% if post.people_type == 'X-Pixel at SIAT' %}
          <div class="col-sm-6 col-lg-3">
              <div class="thumbnail thumbnail-3"><img class="rounded-circle" style="width: 70%" src="{{ "images/people/" | append: post.profileName }}" alt="">
                <div class="caption margin-1">
                  <h6><a href="{{ post.url }}">{{ post.name }}</a></h6>
                  <!-- <p class="small text-light-clr">Now at {{ post.institutionShort }}</p> -->
                  <p><b>{{ post.showtitle }}</b></p>
                  <p class="text-light-clr" style="margin-top: 0px">
                    Direction: {{ post.direction }}
                    <br>
                    Email: {{ post.email }}
                  </p>
                  <ul class="list-inline list-inline-3" style="margin-top: 10px">
                      {% if post.homepage != 'None' %}
                      <li><a class="fa-home" href="{{ post.homepage }}"></a></li>
                    {% endif %}
                    {% if post.github != 'None' %}
                      <li><a class="fa-github" href="{{ post.github }}"></a></li>
                    {% endif %}
                    {% if post.linkedin != 'None' %}
                      <li><a class="fa-linkedin" href="{{ post.linkedin }}"></a></li>
                    {% endif %}
                    {% if post.google != 'None' %}
                      <li><a class="fa-graduation-cap" href="{{ post.google }}"></a></li>
                    {% endif %}
                    </ul>
                </div>
              </div>
            </div>
          {% endif %}
          {% endfor %}
      </div>
    </div>
  </section>
  <!--End section-->

  <!--Start section 4 Columns with text-->
  <section class="text-center well well-sm">
    <div class="container">
      <h5 class="font-weight-bold text-lg-left">X-Pixel at NTU</h5>
      <hr>
      <div class="row row-50">
          {% for post in site.posts %}
          {% if post.people_type == 'X-Pixel at NTU' %}
          <div class="col-sm-6 col-lg-3">
            <div class="thumbnail thumbnail-3"><img class="rounded-circle" style="width: 70%" src="{{ "images/people/" | append: post.profileName }}" alt="">
              <div class="caption margin-1">
                <h6><a href="{{ post.url }}">{{ post.name }}</a></h6>
                <!-- <p class="small text-light-clr">Now at {{ post.institutionShort }}</p> -->
                <p><b>{{ post.showtitle }}</b><br>{{ post.institutionShort }}</p>
                <p class="text-light-clr" style="margin-top: 0px">
                  Direction: {{ post.direction }}
                  <br>
                  Email: {{ post.email }}
                </p>
                <ul class="list-inline list-inline-3" style="margin-top: 10px">
                  {% if post.homepage != 'None' %}
                    <li><a class="fa-home" href="{{ post.homepage }}"></a></li>
                  {% endif %}
                  {% if post.github != 'None' %}
                    <li><a class="fa-github" href="{{ post.github }}"></a></li>
                  {% endif %}
                  {% if post.linkedin != 'None' %}
                    <li><a class="fa-linkedin" href="{{ post.linkedin }}"></a></li>
                  {% endif %}
                  {% if post.google != 'None' %}
                    <li><a class="fa-graduation-cap" href="{{ post.google }}"></a></li>
                  {% endif %}
                  </ul>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
      </div>
    </div>
  </section>
  <!--End section-->

  <!--Start section 4 Columns with text-->
  <section class="text-center well well-sm">
    <div class="container">
      <h5 class="font-weight-bold text-lg-left">X-Pixel at CUHK</h5>
      <hr>
      <div class="row row-50">
          {% for post in site.posts %}
          {% if post.people_type == 'X-Pixel at CUHK' %}
          <div class="col-sm-6 col-lg-3">
            <div class="thumbnail thumbnail-3"><img class="rounded-circle" style="width: 70%" src="{{ "images/people/" | append: post.profileName }}" alt="">
              <div class="caption margin-1">
                <h6><a href="{{ post.url }}">{{ post.name }}</a></h6>
                <!-- <p class="small text-light-clr">Now at {{ post.institutionShort }}</p> -->
                <p><b>{{ post.showtitle }}</b><br>{{ post.institutionShort }}</p>
                <p class="text-light-clr" style="margin-top: 0px">
                  Direction: {{ post.direction }}
                  <br>
                  Email: {{ post.email }}
                </p>
                <ul class="list-inline list-inline-3" style="margin-top: 10px">
                  {% if post.homepage != 'None' %}
                    <li><a class="fa-home" href="{{ post.homepage }}"></a></li>
                  {% endif %}
                  {% if post.github != 'None' %}
                    <li><a class="fa-github" href="{{ post.github }}"></a></li>
                  {% endif %}
                  {% if post.linkedin != 'None' %}
                    <li><a class="fa-linkedin" href="{{ post.linkedin }}"></a></li>
                  {% endif %}
                  {% if post.google != 'None' %}
                    <li><a class="fa-graduation-cap" href="{{ post.google }}"></a></li>
                  {% endif %}
                  </ul>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
      </div>
    </div>
  </section>
  <!--End section-->

  <!--Start section 4 Columns with text-->
  <section class="text-center well well-sm">
    <div class="container">
      <h5 class="font-weight-bold text-lg-left">X-Pixel at SenseTime</h5>
      <hr>
      <div class="row row-50">
          {% for post in site.posts %}
          {% if post.people_type == 'X-Pixel at SenseTime' %}
          <div class="col-sm-6 col-lg-3">
            <div class="thumbnail thumbnail-3"><img class="rounded-circle" style="width: 70%" src="{{ "images/people/" | append: post.profileName }}" alt="">
              <div class="caption margin-1">
                <h6><a href="{{ post.url }}">{{ post.name }}</a></h6>
                <!-- <p class="small text-light-clr">Now at {{ post.institutionShort }}</p> -->
                <p><b>{{ post.showtitle }}</b><br>{{ post.institutionShort }}</p>
                <p class="text-light-clr" style="margin-top: 0px">
                  Direction: {{ post.direction }}
                  <br>
                  Email: {{ post.email }}
                </p>
                <ul class="list-inline list-inline-3" style="margin-top: 10px">
                  {% if post.homepage != 'None' %}
                    <li><a class="fa-home" href="{{ post.homepage }}"></a></li>
                  {% endif %}
                  {% if post.github != 'None' %}
                    <li><a class="fa-github" href="{{ post.github }}"></a></li>
                  {% endif %}
                  {% if post.linkedin != 'None' %}
                    <li><a class="fa-linkedin" href="{{ post.linkedin }}"></a></li>
                  {% endif %}
                  {% if post.google != 'None' %}
                    <li><a class="fa-graduation-cap" href="{{ post.google }}"></a></li>
                  {% endif %}
                  </ul>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
      </div>
    </div>
  </section>
  <!--End section-->

</main>