---
layout: default
---

<section>
    <!--Swiper-->
    <div class="swiper-container swiper-slider" data-autoplay="5000" data-slide-effect="fade" data-loop="false"
        style="height: 250px;">
        <div class="jumbotron text-center">
            <h1 style="margin-top: 70px">Meet Our People
            </h1>
            <p class="big"></p>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-slide-bg="{{ BASE_PATH }}/images/header-1.jpg">
                <div class="swiper-slide-caption"></div>
            </div>
            <div class="swiper-slide" data-slide-bg="{{ BASE_PATH }}/images/header-1.jpg">
                <div class="swiper-slide-caption"></div>
            </div>
            <div class="swiper-slide" data-slide-bg="{{ BASE_PATH }}/images/header-1.jpg">
                <div class="swiper-slide-caption"></div>
            </div>
        </div>
    </div>
</section>

<main class="page-content">
    <ol class="breadcrumb section-border">
        <li><a href="{{ BASE_PATH }}/index.html">Home</a></li>
        <li><a href="{{ BASE_PATH }}/people.html">Our Team</a></li>
        <li class="active">Team member profile</li>
    </ol>

    <!--Start section-->
    <section class="text-center text-lg-left well well-sm">
        <div class="container">
            <article class="team-member row row-30 flex-md-row-reverse justify-content-center">
                <div class="col-9 col-lg-6"><img class="img-rounded" src="images/team-member_img1.png" alt=""></div>
                <div class="col-10 col-lg-6">
                    <h1>{{ page.name }}</h1>
                    <p class="small text-light-clr text-uppercase">
                        designer
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        <br><br>
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                        id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                        architecto beatae vitae dicta sunt explicabo.

                    </p>
                    <div class="inset-2">
                        <!--Linear progress bar-->
                        <div class="progress-linear">
                            <div class="progress-linear-header">
                                <p class="progress-linear-title">photoshop</p>
                            </div>
                            <div class="progress-linear-body">
                                <div class="progress-linear-bar"></div><span class="progress-linear-counter">75</span>
                            </div>
                        </div>
                        <!--Linear progress bar-->
                        <div class="progress-linear">
                            <div class="progress-linear-header">
                                <p class="progress-linear-title">HTML 5 / css</p>
                            </div>
                            <div class="progress-linear-body">
                                <div class="progress-linear-bar"></div><span class="progress-linear-counter">85</span>
                            </div>
                        </div>
                        <!--Linear progress bar-->
                        <div class="progress-linear">
                            <div class="progress-linear-header">
                                <p class="progress-linear-title">JavaScript</p>
                            </div>
                            <div class="progress-linear-body">
                                <div class="progress-linear-bar"></div><span class="progress-linear-counter">80</span>
                            </div>
                        </div>
                    </div>
                    <ul class="list-inline list-inline-3">
                        <li><a class="fa-facebook-square" href="#"></a></li>
                        <li><a class="fa-twitter-square" href="#"></a></li>
                        <li><a class="fa-google-plus-square" href="#"></a></li>
                    </ul>
                </div>
            </article>
        </div>
    </section>
    <!--End section-->
</main>